<h1>Welcome to the Exclusive Clubhouse</h1>
<p>Only members can see who writes the posts. Join us to reveal the mystery!</p>

<% posts.forEach(post => { %> <%- include('./partials/posts', {post}) %> <%
});%>
